.contacto {
	.formulario {
		width: 70%;
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 20px;

		.grupo-formulario {
			display: flex;
			flex-direction: column;
			gap: 5px;

			&.mensaje {
				grid-column: span 2;
			}

			&.error {
				grid-column: span 2;
				background: var(--primario);
				color: #fff;
				padding: 16px;
				border-radius: 5px;
				font-weight: 500;
			}

			&.enviar {
				grid-column: span 2;
				display: flex;
				justify-content: center;
				align-items: center;
			}

			label {
				font-size: 14px;
				font-weight: 500;
			}

			input,
			textarea {
				width: 100%;
				padding: 15px;
				border-radius: 5px;
				border: none;
				font-size: 16px;
				font-family: 'Inter', sans-serif;
			}

			input:hover,
			input:focus,
			textarea:hover,
			textarea:focus {
				outline: 2px solid var(--primario);
			}

			textarea {
				resize: vertical;
				min-height: 80px;
				max-height: 200px;
			}

			.dark & input,
			.dark & textarea {
				background: var(--shade-10);
				color: var(--shade-1);
			}
		}

		@media screen and (max-width: 768px) {
			& {
				width: 100%;
			}
		}

		@media screen and (max-width: 576px) {
			& {
				grid-template-columns: 1fr;

				.grupo-formulario {
					&.mensaje,
					&.error,
					&.enviar {
						grid-column: span 1;
					}
				}
			}
		}
	}
}
