.trabajos {
	.filtros {
		display: flex;
		gap: 20px;
		flex-wrap: wrap;
		justify-content: center;

		label {
			display: flex;
		}

		.opcion {
			padding: 10px 20px;
			border-radius: 100px;
			cursor: pointer;
			border: 1px solid var(--shade-3);
			color: var(--shade-6);

			.dark & {
				color: var(--shade-4);
				border: 1px solid var(--shade-7);
			}
		}

		input[type='radio'] {
			display: none;
			&:checked + .opcion {
				background: var(--primario);
				color: #fff;
				border: 1px solid transparent;
			}
		}

		@media screen and (max-width: 992px) {
			& {
				gap: 10px;
			}
		}
	}

	.grid {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 40px 20px;

		@media screen and (max-width: 768px) {
			& {
				grid-template-columns: repeat(3, 1fr);
			}
		}

		@media screen and (max-width: 576px) {
			& {
				grid-template-columns: repeat(2, 1fr);
			}
		}

		.trabajo {
			.thumb {
				width: 100%;
				display: inline-block;
				border-radius: 5px;
				overflow: hidden;
				margin-bottom: 10px;
				img {
					width: 100%;
					vertical-align: top;
					transform: scale(110%);
					transition: 0.5s ease all;
				}
			}

			&:hover img {
				transform: scale(100%);
			}

			.info {
				display: flex;
				gap: 10px;
				justify-content: space-between;
				align-items: flex-start;

				.nombre {
					display: inline-block;
					color: var(--shade-10);
					font-size: 16px;
					font-weight: 600;
					margin-bottom: 5px;

					.dark & {
						color: var(--shade-1);
					}
				}

				.categoria {
					font-size: 14px;
					color: var(--shade-6);
				}

				.btn-ir {
					background: none;
					border: none;
					cursor: pointer;
					display: flex;
					align-items: center;
					width: 30px;
					height: 30px;

					svg {
						width: 100%;
						color: var(--primario);
						transition: 0.3s ease all;
					}
				}
			}
		}
	}
}
