
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
<link rel="stylesheet" href="css/styles.css">

</head>
<body>

   <!-- Menú flotante lateral -->
   <nav class="floating-sidebar">
    <div class="menu-container">
      <a href="#inicio" title="Inicio">
        <i class="fas fa-home"></i>
        <span>Inicio</span>
      </a>
      <a href="#proyectos" title="Proyectos">
        <i class="fas fa-project-diagram"></i>
        <span>Proyectos</span>
      </a>
      <a href="#conocimientos" title="Conocimientos">
        <i class="fas fa-brain"></i>
        <span>Conocimientos</span>
      </a>
      <a href="#experiencia" title="Experiencia">
        <i class="fas fa-briefcase"></i>
        <span>Experiencia</span>
      </a>
      <a href="#estudios" title="Estudios">
        <i class="fas fa-graduation-cap"></i>
        <span>Estudios</span>
      </a>
      <a href="#contacto" title="Contacto">
        <i class="fas fa-envelope"></i>
        <span>Contacto</span>
      </a>
    </div>
  </nav>

<div id="inicio" class="bgimg-1">
  <div class="caption">
   
  <span class="border">
    <img src="img/4.png" alt="Imagen inicial"/>
    <br>
    <div class="seccioninicio">
      <h3 style="text-align:center;">Lider de proyectos y desarrollador fullstack</h3>
      <div style="width:100%;" >
          <p>
            Líder de proyectos y desarrollador full stack con 19 años de experiencia en el área de tecnologías creando y manteniendo sistemas, en las área de publicidad , banca y logística, me gusta enseñar y aprender nuevas cosas estoy en constante capacitación en la gestión de proyectos, integración continua, desarrollo backend, frontend, mobile y base de datos.
          <p/>
      </div>
      
    </div>
  </span>
  </div>
</div>



<div id="proyectos" class="bgimg-2">
  <div class="caption">
  <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">PROYECTOS</span>
  
  </div>
</div>

<div style="position:relative;">
  <div class="seccionproyectos">

    <div class="projects-container">
      <!-- Copia todo el contenido actual de tu sección projects-container aquí -->
      <div class="project">
          <table>
              <tr>
                  <td>
                      <h3>Reingenieria sistema RH</h3>
                      <img src="img/sistema-rh.jpg" alt="Señalización digital" class="rectangular-image">
                  </td>
              </tr>
              <tr>
                  <td>
                      <p  class="justify-text">
                          Se realizo una reingenieria de un sistema para contratacion de cuidadores (bebes, gente adulta, etc.), se migro la base de datos y se creo toda la parte del backend, 
                          se realizo la instalación de 0 de todo el ambiente, serividores web, base de datos y permisos. 
                      </p>
                  </td>
              </tr>
              <tr>
                  <td>
                      <p><b> * .net core, c#, patron repositorio, GIT, MySQL, Linux, Apache tomcat, Nginx, Letscript.</b> </p>
                  </td>
              </tr>
          </table>
      </div>
      <div class="project">
          <table>
              <tr>
                  <td>
                      <h3>ERP y CRM</h3>
                      <img src="img/CRM-ERP.png" alt="Pedestal digital" class="rectangular-image">
                  </td>
              </tr>
              <tr>
                  <td>
                      <p class="justify-text">
                          Se desarrollo todo el sistema llamado SAC(Sistema de administracion y control) para la administracion de campañas, facturacion, monitoreo, programacion y se genero un CRM para gerentes y directores con el que se lleva el control de clientes, asi como reportes de los mismos.
                      </p>
                  </td>
              </tr>
              <tr>
                  <td>
                      <p><b> * asp, sql, html, javascript. </b> </p>
                  </td>
              </tr>
          </table>
      </div>
      <div class="project">
          <table>
              <tr>
                  <td>
                      <h3>Señalización digital</h3>
                      <img src="img/Digital-signage.jpg" alt="Señalización digital" class="rectangular-image">
                  </td>
              </tr>
              <tr>
                  <td>
                      <p  class="justify-text">
                          Se generan las plataformas para señalizacion digital, inicialmente para windows con VB6, se migra a .net framework con c#, posterior se genera para android montado en tv´s con android,
                          tambien se genera para tv´s Samsung con tyzen, y tv´s LG con WebOs. 
                      </p>
                  </td>
              </tr>
              <tr>
                  <td>
                      <p><b>* Java android, vb6, c#, javascript, tyzen, WebOs, html.</b></p> 
                  </td>
              </tr>
          </table>
      </div>
      <div class="project">
          <table>
              <tr>
                  <td>
                      <h3>Face tracking</h3>
                      <img src="img/facetraking.jpg" alt="face-traking" class="rectangular-image">
                  </td>
              </tr>
              <tr>
                  <td>
                      <p  class="justify-text">
                          Se crean campañas especiales, para la gente que se forma en la fila del banco, al momento de pasar el spot se habilita la cámara y se activa el seguimiento de rostro sobreponiendo una imagen alusiva a la campaña, ejemplo se pone un gorro de navidad y se muestran productos navideños, se pone un snorkel y de fondo la playa y se muestran productos de verano.
                      </p>
                  </td>
              </tr>
              <tr>
                  <td>
                     <p><b>* Flash, javascript, html, android, c#, vb6, Action Script</b> </p>
                  </td>
              </tr>
          </table>
      </div>
      <div class="project">
          <table>
              <tr>
                  <td>
                      <h3>Conteido dinamico</h3>
                      <img src="img/contenidoDinamico.jpg" alt="Contenido dinamico" class="rectangular-image">
                  </td>
              </tr>
              <tr>
                  <td>
                      <p  class="justify-text">
                          Se generan plantillas html para campañas cuyo contenido de texto varía dinámicamente, se realiza un cambio desde el servidor central, se envía a cada sucursal y esta descarga el contenido para mostrarlo en la pantalla y esta reporta que el cambio se aplicó.
                      </p>
                  </td>
              </tr>
              <tr>
                  <td>
                      <p> <b>* Flash, javascript, html, android, c#, vb6, Action Script.</b> </p>
                  </td>
              </tr>
          </table>
      </div>
      <div class="project">
          <table>
              <tr>
                  <td>
                      <h3>Pedestal digital para Banco Azteca</h3>
                      <img src="img/Pedestal-digital.jpg" alt="Pedestal digital" class="rectangular-image">
                  </td>
              </tr>
              <tr>
                  <td>
                      <p  class="justify-text">
                          Se genera apicacion en android para tabletas, y otro web para administrar contenido y enviar desde central, las tabletas tiene menu dinamico, descargan y muestra arhivos pdf, videos e imagenes 
                          para ser mostradas dependiendo de las opciones del menu.
                      </p>
                  </td>
              </tr>
              <tr>
                  <td>
                      <p><b>* asp, sql, html, javascript, java android</b> </p>
                  </td>
              </tr>
          </table>
      </div>
      <div class="project">
          <table>
              <tr>
                  <td>
                      <h3>Preciadora digital Elektra</h3>
                      <img src="img/preciadoras-digitales.jpg" alt="Preciador digital" class="rectangular-image">
                  </td>
              </tr>
              <tr>
                  <td>
                      <p  class="justify-text">
                          Se compraron preciadoras chinas con SDK para desarrollar la aplicacion a la medida, dicha aplicacion se monta en servidor en tienda para despues actualizar los productos en las preciadoras
              se crea aplicacion WEB para enviar la informacion al servidor en tienda mismo que actualiza las preciadoras, solo se realizo en una tienda demo pero por costos no salio a producción.
                      </p>
                  </td>
              </tr>
              <tr>
                  <td>
                      <p><b>* asp, sql, html, javascript, c#</b></p>
                  </td>
              </tr>
          </table>
      </div>
      <div class="project">
          <table>
              <tr>
                  <td>
                      <h3>Totem digital OUI</h3>
                      <img src="img/TotemOUI.jpg" alt="Totem digital" class="rectangular-image">
                  </td>
              </tr>
              <tr>
                  <td>
                      <p  class="justify-text">
                          Totem digital para mostrar contenido de celulares de manera dinamica asi como una herramienta para video llamada conectada a un call center para atencion a dudas, se crea aplicación
                          web para dicho call center.
                      </p>
                  </td>
              </tr>
              <tr>
                  <td>
                      <p><b>* asp, sql, html, javascript, c#, flash </b></p> 
                  </td>
              </tr>
          </table>
      </div>
      <div class="project">
          <table>
              <tr>
                  <td>
                      <h3>Spots con aroma</h3>
                      <img src="img/SpotsAroma.webp" alt="Totem digital" class="rectangular-image">
                  </td>
              </tr>
              <tr>
                  <td>
                      <p  class="justify-text">
                          Se hace una adecuacion a la plataforma con windows y se le agrega un ardunio el cual dispara una herramienta conectada con aroma, dependiendo de la programacion se activa 
                          diicha herramienta disparando el aroma.
                      </p>
                  </td>
              </tr>
              <tr>
                  <td>
                     <p><b>* asp, sql, html, javascript, c#, flash</b></p> 
                  </td>
              </tr>
          </table>
      </div>
    </div>

  </div>
</div>

<div id="conocimientos" class="bgimg-3">
  <div class="caption">
  <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">CONOCIMIENTOS</span>
  </div>
</div>

<div style="position:relative;">
  <div class="seccionconocimientos">
    <div class="projects-knowledge">
      <div class="knowledge-card">
          <i class="fas fa-tasks"></i>
          <p>Líder de proyectos con metodologías Ágiles y Waterfall.</p>
      </div>
      <div class="knowledge-card">
          <i class="fas fa-tools"></i>
          <p>Sistemas para gestión de proyectos (Service Now, sistemas propios de Coppel y Grupo Salinas).</p>
      </div>
      <div class="knowledge-card">
          <i class="fas fa-network-wired"></i>
          <p>Sistemas para la administración de APIs (Apigee, WSO2 API Manager).</p>
      </div>
      <div class="knowledge-card">
          <i class="fab fa-java"></i>
          <p>Programación en Java</p>
      </div>
      <div class="knowledge-card">
          <i class="fab fa-microsoft"></i>
          <p>Programación en C#, .NET Core</p>
      </div>
      <div class="knowledge-card">
          <i class="fab fa-python"></i>
          <p>Programación en Python</p>
      </div>
      <div class="knowledge-card">
          <i class="fas fa-code"></i>
          <p>Desarrollo web (HTML, CSS, JavaScript, NodeJs, React, Angular)</p>
      </div>
      <div class="knowledge-card">
          <i class="fas fa-mobile-alt"></i>
          <p>Desarrollo móvil (Java, Flutter)</p>
      </div>
      <div class="knowledge-card">
          <i class="fas fa-database"></i>
          <p>Administración de bases de datos</p>
      </div>
      <div class="knowledge-card">
          <i class="fas fa-cogs"></i>
          <p>Implementación de sistemas</p>
      </div>
      <div class="knowledge-card">
          <i class="fab fa-git-alt"></i>
          <p>Sistemas de control de versiones (GIT)</p>
      </div>
      <div class="knowledge-card">
          <i class="fas fa-server"></i>
          <p>Servidores web (IIS, Apache Tomcat, Nginx, WebLogic)</p>
      </div>
  </div>
  </div>
</div>


<div id="experiencia" class="bgimg-4">
  <div class="caption">
  <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">EXPERIENCIA</span>
  </div>
</div>

<div style="position:relative;">
  <div class="seccionExperiences">
    <div class="experience-container">
        <div class="experience">
            <h3>Tata Consultancy Service (Cliente Banorte, Coppel)</h3>
            <p><b>Rol:</b> Líder de proyectos, desarrollador</p>
            <p><b>Duración:</b>3 años de Ago. 2021 - Actual </p>
            <p class="summary">Liderazgo de proyectos, mantenmiento a sistemas .</p>
            <button class="more-btn" data-target="#popup4">Ver más...</button>
        </div>

        <div class="experience">
            <h3>Freelance</h3>
            <p><b>Rol:</b> full stack</p>
            <p><b>Duración:</b> 1 año de Dic. 2020 - Dic 2021 </p>
            <p class="summary">Desarrollo de sistema de servicios encargado del backend, Apoyo en desarrollos.</p>
            <button class="more-btn" data-target="#popup3">Ver más...</button>
        </div>

        <div class="experience">
            <h3>PromoEspacio (Grupo Salinas)</h3>
            <p><b>Rol:</b> Desarrollador, coordinador y líder de proyectos</p>
            <p><b>Duración:</b>11 años de Nov. 2009 - Mzo. 2021</p>
            <p class="summary">Liderazgo de proyectos, mantenimiento a sistemas y desarrollo de API's.</p>
            <button class="more-btn" data-target="#popup2">Ver más...</button>
        </div>

        <div class="experience">
            <h3>Servicios empresariales zimag</h3>
            <p><b>Rol:</b> Helpdesk y desarrollador analista</p>
            <p><b>Duración:</b> 4 años de Ene. 2006 – Nov. 2009</p>
            <p class="summary">Funciones básicas de mantenimiento y desarrollo con Java.</p>
            <button class="more-btn" data-target="#popup1">Ver más...</button>
        </div>
    
    
    
    </div>
  </div>
</div>


<div id="estudios" class="bgimg-5">
  <div class="caption">
  <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">ESTUDIOS</span>
  </div>
</div>

<div style="position:relative;">
  <div class="seccionestudios">
    <div class="education">
      <h3><i class="fas fa-graduation-cap"></i> Educación</h3>
      <p>
          <strong>TECNOLÓGICO DE ESTUDIOS SUPERIORES DE COACALCO</strong> – Coacalco, Estado de México<br>
          <em>Ingeniero en Sistemas Computacionales, Especialidad en Base de Datos</em><br>
          Sep. 2005
      </p>
  </div>
  <div class="courses">
      <h3><i class="fas fa-book-open"></i> Cursos</h3>
      <ul>
          <li><i class="fas fa-check-circle"></i> 2024 - Cursos recientes en Udemy y Tata sobre Quarkus, Python, Flutter, DevOps, etc. (tengo más de 700 cursos en mi cuenta personal).</li>
          <li><i class="fas fa-check-circle"></i> 2022-2023 - Cursos avanzados en metodologías ágiles, microservicios y desarrollo fullstack.</li>
          <li><i class="fas fa-check-circle"></i> 2021 - Múltiples cursos en Udemy (Angular, APIs, React, Spring Boot, etc.).</li>
          <li><i class="fas fa-check-circle"></i> 2020 - Fundamentos de APIs con Apigee (Grupo Salinas).</li>
          <li><i class="fas fa-check-circle"></i> 2019 - Curso de liderazgo (Grupo Salinas).</li>
          <li><i class="fas fa-check-circle"></i> 2015 - Curso de SCRUM para áreas de sistemas (Grupo Salinas).</li>
          <li><i class="fas fa-check-circle"></i> 2014 - Curso de desarrollo iOS (Grupo SCANDA).</li>
          <li><i class="fas fa-check-circle"></i> 2012 - Curso de desarrollo Android (Grupo SCANDA).</li>
          <li><i class="fas fa-check-circle"></i> 2011 - Curso de programación paralela (UNITEC).</li>
          <li><i class="fas fa-check-circle"></i> 2008 - Curso de Java básico, Servlet, JSP, JDBC (ZIMAG).</li>
      </ul>
  </div>
  </div>
</div>



<div id="contacto" class="bgimg-3">
  <div class="caption">
  <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">CONTACTO</span>
  </div>
</div>

<div style="position:relative;">
  <div class="seccioncontacto">
     <div class="contact-info">
            <p><i class="fas fa-phone-alt"></i> (+52) 5525597005</p>
            <p><i class="fas fa-envelope"></i> <a href="mailto:rsanchezs151@gmail.com">rsanchezs151@gmail.com</a></p>
            <p><i class="fab fa-linkedin"></i> <a href="https://www.linkedin.com/in/roberto-carlos-sanchez-sanchez-a3b44684/" target="_blank"> LinkedIn </a></p>
            <p><i class="fas fa-map-marker-alt"></i> Coacalco de Berriozábal, Estado de México</p>
        </div>
  </div>
</div>



<div id="popup1" class="popup">
  <div class="popup-content">
      <span class="close">&times;</span>
      <h3>Servicios empresariales zimag</h3>
      <p>Rol: Helpdesk y desarrollador analista</p>
      <p>Duración: Ene. 2006 – Nov. 2009</p>
      <ol>
          <li>Funciones básicas de mantenimiento a equipos de cómputo y funciones básicas al ERP (altas de usuarios, modificación de roles, errores en bugs de las evidencias, tráfico y servicio al cliente) </li>
          <li>En desarrollo tomé curso de JAVA con Strust2, pero estaba Ver más... enfocado a la parte de frontend con  HTML y JavaScript.</li>
      </ol>
  </div>
</div>

<div id="popup2" class="popup">
  <div class="popup-content">
      <span class="close">&times;</span>
          <h3>PromoEspacio (Grupo Salinas)</h3>
          <p>Rol: Desarrollador, coordinador y líder de proyectos</p>
          <p>Duración: Nov. 2009- Mzo. 2021</p>
          <ol>
              <li>Líder de proyectos: Toma de requerimientos con los clientes, definición de los planes de trabajo,  definición de la tecnología a utilizar, Creación de las bases de datos, administración de los tiempos,  creación de la documentación, Pruebas de los sistemas, implementación y seguimiento post  implementación. </li>
              <li>Encargado de investigar e implementar nuevas tecnologías enfocadas a la interacción entre la pantalla y el espectador, buscando las tendencias y agregarlas a la  plataforma propia de la empresa, algunos de los desarrollos fueron, la integración de realidad aumentada, face tracking,  contenidos dinámicos (actualización en tiempo real), face recognition, integración de sensores de distancia, de sonido, códigos de  barra, sensores de aroma con Arduino. </li>
              <li>Mantenimiento a la plataforma de señalización digital (está la desarrollamos nosotros y se han ido  agregando funcionalidades, está desarrollada para Windows, Android, Tyzen y webOS).</li>
              <li>Mantenimiento al ERP (De igual modo fue desarrollado por nosotros desde la base de datos y todas las  reglas de negocio y constantemente se le aplican actualizaciones), está desarrollada en ASP clásico y  estoy en el plan de migración a angular en el front end y node.js o .net core en el backend.</li>
              <li>Desarrollo de las API´s para la comunicación interna de los servicios que se tienen con los clientes internos  de Grupo Salinas. </li>
              <li>Dar mantenimiento a los servidores (instalación y configuración de los servicios de acuerdo a estándares  definidos por el grupo)</li>
          </ol>
  </div> 
</div>

<div id="popup3" class="popup">
  <div class="popup-content">
      <span class="close">&times;</span>
          <h3>Freelance</h3>
          <p>Rol: full stack</p>
          <p>Duración: Dic. 2020 - Dic 2021 </p>
          <ol>
              <li>Desarrollo de app de servicios, trabajo de medio tiempo, me quede como encargado del backend con  una persona a mi cargo, las actividades que realizo son la reingeniería de la base de datos, la definición  de los servidores y el desarrollo de las los servicios REST en .net core con patrón repositorio, está creado con base de datos MySQL, se usa  patrón repositorio y jwt en la parte de seguridad, stripe para la parte de pagos, Sengrid para el envío de emails y letscript para el certificado SSL.</li>
              <li>Desarrollo de sistema para registrar entrada y salida de productos para una empresa de seguridad, se crea desde la BD, los servicios REST en Java y el frontend con React, se propone un VPS para almacenar el backend.</li>
              <li>Desarrollo de dos API´s una para manejo de errores de una aplicación web y otra para el alta de  referidos, esto se desarrolló para una consultoría y se hizo en Java spring boot, se usa patrón repositorio  y base de datos SQL.</li>
              <li>Desarrollo de app de venta de ropa en línea, mis actividades fueron: modificar diseño de la página y  agregar funcionalidad con Fabric.js para edición de texto e imágenes en la ropa. </li>
          </ol>
          </div>
</div>

<div id="popup4" class="popup">
  <div class="popup-content">
      <span class="close">&times;</span>
          <h3>Tata Consultancy Service (Cliente Banorte, Coppel)</h3>
          <p>Rol: Líder de proyectos, desarrollador</p>
          <p>Duración: Ago. 2021 - Actual </p>
          <ol>
              <li>Líder de proyectos: Se está queriendo entrar con el cliente y parte de mis actividades fue hacer la estimación de varios proyectos así como estar en juntas con clientes para el entendimiento de los mismos, durante los tiempos libres realice cursos de la consultora y cursos en Udemy.</li>
              <li>Desarrollador: Nos dan dos proyectos de java uno para remediación de vulnerabilidades y otro para la atención a proyecto de obsolescencia consta de la migración de un soap webservices montado en un weblogic 10 y se migra de java 7 a java 11 y montado a un weblogic 14</li>
              <li>Líder de proyectos en Grupo Coppel: Atención a requerimientos de banco con equipos de trabajo que constan de Arquitecto, Desarrollador y Tester los proyectos se atienden bajo el método de cascada y se dan seguimiento en una herramienta interna de Coppel, se siguen los estándares del grupo, se tienen junta con los clientes para el análisis, se hace la estimación en conjunto con el equipo, se da seguimiento a las necesidades de los desarrolladores, arquitectos y tester, se da seguimiento a las fases del proyecto, se crean reportes de seguimiento y monitoreo, se tiene junta con el cliente para atender dudas, para entrega de avances y entrega del producto final, se da seguimiento a las incidencias en caso de ocurrir y se gestiona al equipo para nuevos requerimientos.</li>
              <li>Estuve un tiempo con rol de arquitecto llevando en conjunto con los desarrolladores un servicio REST en spring boot para atender un requerimiento, mis actividades eran Ver más... sobre guiar en las buenas prácticas y la seguridad, así como la creación del archivo para el requerimiento en donde se plasma los antecedentes, el alcance, la propuesta de solución, los diagramas de los servicios, los diagramas y estructuras de las bases de datos, los flujos, y ejemplos de los servicios.</li>
          </ol>
          </div>
</div>


<script src="js/script.js" defer></script>

</body>
</html>